<h1>{{categories.category.name}}</h1>

<div class="d-flex flex-row flex-wrap container">
<div class="card my-3 mx-3"  *ngFor="let product of productyy" (click) = "getLink(product.id)" style="width: 18rem;">
  <img class="card-img-top" [src]="'http://kodytek.cz:8080/rest-api/' + product.images[0].miniaturePath" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{product.title}}</h5>
    <h5 class="card-title">{{product.price / 100 + "Kč"}}</h5>
    <a routerLink="/products" (click) = "getLink(product.id)" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
</div>

